*{
    margin: 0px;
    /*background: red;*/
}

p {
    font-size: 40px;
}

#comentario{
    font-size: 5px;
}

.titulo{
    font-size: 100px;
}

p.titulo{
    font-size: 150px;
}

/* aplica a todos los elementos impares*/
p:nth-child(even){
    background: #999999;
}

p:nth-child(odd){
    background: #CCCCCC;
}
/*
p:nth-child(3){
    background: #999999;
}
p:nth-child(4){
    background: #CCCCCC;
}
*/