body {
    text-align: center;
}

#principal{
    display: block;
    width: 500px;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    border: 2px solid green;
    /*background: #DDDDDD;*/
    /*background: rgba(0,0,0,0.5);*/
    /*background: hsla(120,100%,50%,0.2);*/
    
    /* gradiente lineal básico */
    /*
    background: -webkit-linear-gradient(left, #FFFFFF, #006699);
    background: -moz-linear-gradient(left, #FFFFFF, #006699);
    */
    
    background: -webkit-radial-gradient(center, ellipse, #FFFFFF 0%, #006699 200%);
    background: -moz-radial-gradient(center, ellipse, #FFFFFF 0%, #006699 200%);
    
    /* agregamos bordes a la caja*/
    /*border-radius: 20px;*/
    border-radius: 20px 10px 30px 50px;
    
    /*agregamos sombras*/
    box-shadow: rgb(150,150,150) 5px 5px 10px inset;
    
    
    transform: scale(1);
    
    /*transform: rotate(45deg);*/
    
    /*transform: skew(30deg);
    transform: skewX(30deg);
    transform: translate(400px);
    */
    /*transform: translateY(200px) rotate(35deg) scale(0.5);*/
    transition: transform 2s ease-in-out 1s;
}

#principal:hover{
    transform: rotate(15deg);
    background: -webkit-linear-gradient(left, #FFFFFF, #006699);
    background: -moz-linear-gradient(left, #FFFFFF, #006699);
}

@font-face{
    font-family:'MiFont';
    src: url('font/PrinceValiant.ttf');
}

#titulo{
    font: bold 56px MiFont, verdana, sans-serif;*/
    text-shadow: rgb(51,51,179) 3px 3px 5px;
}