*{
    margin: 0px;
    padding: 0px;
}

h1{
    font: bold 20px verdana, sans-serif;
    color: teal;
}

h2{
    font: bold 14px vedana, sans-serif;
}

header, section, footer, aside, nav, article, figure, figcaption, hgroup{
    display: block;
}

body{
    text-align: center;
}

#agrupar{
    width: 960px;
    margin: 15px auto;
    text-align: left;
}

#cabecera {
    background: #FFFBB9;
    border: 1px solid #999999;
    padding: 20px;
}

#menu{
    background: #CCCCCC;
    padding: 5px 15px;
}

#menu li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;
}

#seccion{
    float:left;
    width: 600px;
    margin: 20px;
    background-color:darkturquoise;
}
/*
#seccion:hover{
    background-color: red;
}
*/
#columna{
    float: left;
    width: 200px;
    margin: 20px 0px;
    padding: 20px;
    background: #CCCCCC;
}

#pie{
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;
}

table{
    border: 1px solid red;
    border-collapse: separate;
    background-color: antiquewhite;
}

th, td{
    border: 1px solid red;
}

a {
    font-weight: bold;
    color: red;
}

a:link{
    color: #8D0E6B;
}

a:visited{
    color: #B53392;
}

a:hover, a:active, a:focus{
    color: #63550A;
    text-decoration: underline;
}